#root dir
.idea/
tracker_core/core/.idea

# Docker environment variables
.core.env

# Django #
*.log
*.pot
*.pyc
tracker_core/core/__pycache__

#database sqlite
db.sqlite3

# Backup files #
*.bak

# File-based project format
*.iws

# Python #
*.py[cod]
*$py.class


# Unit test / coverage reports - TBD

# pyenv
.python-version

# celery
#celery.py
*celerybeat-schedule*

# Environments
.venv

# Sublime Text #
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
