#root dir
.idea/
tracker_core/core/.idea

# Docker
#environment variables
.core.env
#dockerignore
.dockerignore

# Django #
*.log
*.pot
*.pyc
tracker_core/core/__pycache__

## LOCAL DEV SETTINGS
#local settings
tracker_core/core/settings_local_sqlite_non-docker.py
#database sqlite itself
tracker_core/db.sqlite3

##LOCAL DEV FILES
tracker_core/core_app/templates/test.html


# Backup files #
*.bak

# File-based project format
*.iws

# Python #
*.py[cod]
*$py.class


# Unit test / coverage reports - TBD

# pyenv
.python-version

# celery
#celery.py
*celerybeat-schedule*

# Environments
.venv

# Sublime Text #
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
