<tbody>
    <tr class="primary">
        <td>
            <!-- Pie Chart -->
            <div id="piechart_3d" style="width:400px; height:200px;"></div>
        </td>
        <td>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioSupplies" id="flexRadioSupplies" checked>
                <label class="form-check-label" for="flexRadioSupplies">
                    SUPPLIES
                </label>
            </div>
        </td>
    </tr>
</tbody>
