{% extends "base_generic.html" %}

{% block content %}

    <br>
    <h1> Welcome to SMART tracker </h1>

    {% if user.is_authenticated %}
        <h2> HELLO {{ user }} </h2>
        <br>
        <p><h4>
        This is a sandbox to add/edit tracked objects.<br>
        <br>Nice pretty form is here<br>
        </p>
        </h4>
    {% else %}
        <h2> HELLO {{ user }} </h2>
        Please <a href="{% url 'login' %}">login</a>
        or <a href="{% url 'register' %}">register.</a>
    {% endif %}

{% endblock %}