{% extends "base_generic.html" %}

{% load static %}

{% block extra_css %}
{% endblock extra_css %}



{% block extra_js %}

    <!-- JS scripts for interactive ajax requests -->
    <script src="{% static 'assets/js/datasets.js' %}"></script>
    <script src="{% static 'assets/js/dataset_objects.js' %}"></script>

{% endblock extra_js %}

{% block placeholder %}Sandbox{% endblock placeholder %}

{% block content %}

    {% if user.is_authenticated %}
    <br>
    <p>
    <h4>This is a sandbox to add/edit tracked objects.<br></h4>
    Here you can start with prepared sets. <br>
    Feel free to create your own datasets.<br>
    </p>

    <!-- Container for List of all datasets existed in the DB -->
    <div>

    <p>
    <button type="button" class="btn btn-sm btn-success js-create-dataset" data-url="{% url 'dataset-add' %}">
      <span data-feather="plus-square" class="align-text-bottom"></span>
      New dataset
    </button>
    </p>

    <p>
    <button type="button"
                class="btn-sm btn-light js-show-all-objects"
                data-url="{% url 'dataset-object-all' %}">
        Show all objects
    </button>
    </p>


    <table class="table table-hover w-75" id="dataset-table">
    <thead>
    <tr class="table-active align-top">
      <th scope="col" class="col-2">Filter objects</th>
      <th scope="col" class="col-4">Dataset</th>
      <th scope="col" class="col-4">Description</th>
      <th scope="col" class="col-3">Actions</th>
    </tr>
    </thead>
    <tbody>
      {% include 'includes/partial_dataset_list.html' %}
    </tbody>
    </table>

     <!-- Paginator -->
    {% if paginated_dataset_list %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
          {% if paginated_dataset_list.has_previous %}
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ paginated_dataset_list.previous_page_number }}">Previous</a></li>
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ paginated_dataset_list.previous_page_number }}">{{ paginated_dataset_list.previous_page_number }}</a></li>
          {% else %}
          <li class="page-item disabled"> <a class="page-link">Previous</a> </li>
          {% endif %}
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ paginated_dataset_list.page_number }}">{{ paginated_dataset_list.number }}</a></li>
          {% if paginated_dataset_list.has_next %}
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ paginated_dataset_list.next_page_number }}">{{ paginated_dataset_list.next_page_number }}</a></li>
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ paginated_dataset_list.next_page_number }}">Next</a></li>
          {% else %}
          <li class="page-item disabled"> <a class="page-link">Next</a> </li>
          {% endif %}
      </ul>
    </nav>
    {% endif %}

    </div>

    <!-- Container for all objects associated with the selected dataset -->
    <div>

    <p>
    <button type="button" class="btn btn-sm btn-success js-create-dataset-object" data-url="{% url 'dataset-object-add' %}">
      <span data-feather="plus-square" class="align-text-bottom"></span>
      New object
    </button>
    </p>

    <table class="table w-75 table-hover" id="dataset-object-table">
    <thead>
    <tr class="table-active align-top">
      <th scope="col" class="col-1">Status</th>
      <th scope="col" class="col-1">Name</th>
      <th scope="col" class="col-1">Dataset</th>
      <th scope="col" class="col-1">Measure</th>
      <th scope="col" class="col-1">Measure limit</th>
      <th scope="col" class="col-1">Measure unit</th>
      <th scope="col" class="col-2">Description</th>
      <th scope="col" class="col-1">Responsible</th>
      <th scope="col" class="col-1">Time frame</th>
      <th scope="col" class="col-2">Actions</th>
    </tr>
    </thead>
    <tbody>
      {% include 'includes/partial_dataset_object_list.html' %}
    </tbody>
    </table>

     <!-- Paginator -->
    {% if paginated_object_list %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
          {% if paginated_object_list.has_previous %}
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ paginated_object_list.previous_page_number }}">Previous</a></li>
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ paginated_object_list.previous_page_number }}">{{ paginated_object_list.previous_page_number }}</a></li>
          {% else %}
          <li class="page-item disabled"> <a class="page-link">Previous</a> </li>
          {% endif %}
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ paginated_object_list.page_number }}">{{ paginated_object_list.number }}</a></li>
          {% if paginated_object_list.has_next %}
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ paginated_object_list.next_page_number }}">{{ paginated_object_list.next_page_number }}</a></li>
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ paginated_object_list.next_page_number }}">Next</a></li>
          {% else %}
          <li class="page-item disabled"> <a class="page-link">Next</a> </li>
          {% endif %}
      </ul>
    </nav>
    {% endif %}

    </div>

    <!-- Modal for the creation/update forms -->
    <div class="modal fade" id="modal-sandbox">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

    {% else %}
        <h2> HELLO {{ user }} </h2>
        Please <a href="{% url 'login' %}">login</a>
        or <a href="{% url 'register' %}">register.</a>
    {% endif %}

{% endblock %}