{% extends "base_generic.html" %}

{% load static %}

{% block extra_css %}


{% endblock extra_css %}

{% block extra_js %}

    <!-- JS scripts for interactive ajax requests -->
    <script src="{% static 'assets/js/piechart.js' %}"></script>

    <!-- JS script for Google Pie Chart -->
    <script type="text/javascript" src="{% static 'assets/js/loader.js' %}"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ chart_data|safe }});

        var options = {
          title: 'title text',
          is3D: false,
          pieHole: 0.5,
          chartArea:{left:20,top:20,width:'100%',height:'100%'},
          colors:['#b53a1b','#ffaa00','#03701f']
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>

{% endblock extra_js%}

{% block placeholder %}Dashboard{% endblock placeholder %}

{% block content %}

    {% if user.is_authenticated %}
    <br>

    <!-- Chart table -->
     <table class="table table-bordered w-75" id="dashboard-table">

          <thead>
            <tr>
              <th scope="col">Dashboard</th>
              <th scope="col">Filters</th>
            </tr>
          </thead>
          {% include 'includes/partial_chart.html' %}
        </table>

        <br>

    <!-- Data table -->
    <table class="table w-75 table-hover" id="coreobject-table">
    <thead>
    <tr class="table-active align-top">
      <th scope="col" class="col-1">Status</th>
      <th scope="col" class="col-1">Name</th>
      <th scope="col" class="col-1">Dataset</th>
      <th scope="col" class="col-1">Measure</th>
      <th scope="col" class="col-2">Description</th>
      <th scope="col" class="col-1">Responsible</th>
      <th scope="col" class="col-1">Lifelong period</th>
    </tr>
    </thead>
    <tbody>
      {% include 'includes/partial_coreobject_list.html' %}
    </tbody>
    </table>

    <!-- Paginator -->
    {% if page_obj %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a></li>
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
          {% else %}
          <li class="page-item disabled"> <a class="page-link">Previous</a> </li>
          {% endif %}
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.page_number }}">{{ page_obj.number }}</a></li>
          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a></li>
          {% else %}
          <li class="page-item disabled"> <a class="page-link">Next</a> </li>
          {% endif %}
      </ul>
    </nav>
    {% endif %}

    {% else %}
        <h2> HELLO {{ user }} </h2>
        Please <a href="{% url 'login' %}">login</a>
        or <a href="{% url 'register' %}">register.</a>
    {% endif %}

{% endblock content %}