<tbody>
    <tr class="primary">
        <td>
            <!-- Pie Chart -->
            <div id="piechart_3d" style="width:400px; height:200px;"></div>
        </td>
        <td>
        By dataset
            <select class="form-select" multiple aria-label="multiple select dataset">
                {% for obj_type in unique_obj_types %}
                <option value={{ obj_type }}>{{ obj_type }}</option>
                {% endfor %}
            </select>
        button
        </td>

        <td>
        By status
            <select class="form-select" multiple aria-label="multiple select dataset">
                {% for obj_type in unique_obj_types %}
                <option value={{ obj_type }}>{{ obj_type }}</option>
                {% endfor %}
            </select>
        button
        </td>
        <td>
        By responsible
            <select class="form-select" multiple aria-label="multiple select dataset">
                {% for obj_type in unique_obj_types %}
                <option value={{ obj_type }}>{{ obj_type }}</option>
                {% endfor %}
            </select>
        button
        </td>
    </tr>
</tbody>
