<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}SMART Tracker {% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"
    />

    <!-- Google scripts for Pie Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Dataset', 'Status'],
          ['Supplies', 2],
          ['Utilities', 2],
          ['Routine tasks', 2]
        ]);

        var options = {
          title: 'Suka',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">SMART Tracker</span>
      </div>
    </nav>

    <!-- Page container -->
    <div class="container-fluid">

      {% if messages %}
        <div class="row">
          <div class="col-sm-12">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}
                  {{ message.tags|title }}{% endif %}!</strong> {{ message }}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      <br>

      <div class="row">

        <div class="col-sm-2">
          {% block sidebar %}

            <ul class="sidebar-nav">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'coreobject-list' %}">App</a></li>
    {#          <li><a href="{% url 'dashboard' %}">Dashboard</a></li>#}
    {#          <li><a href="{% url 'sandbox' %}">Sandbox</a></li>#}
            </ul>

            <ul class="sidebar-nav">
              {% if user.is_authenticated %}
                <li>Logged as: {{ user.get_username }}</li>
                <li><a href="{% url 'profile' %}">My profile</a></li>
                <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
              {% else %}
                <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                <li><a href="{% url 'register' %}?next={{ request.path }}">Register</a></li>
              {% endif %}
            </ul>

            {% if user.is_staff %}
              <hr/>
              <ul class="sidebar-nav">
                <li>Staff tools:</li>
                {% if perms.catalog.can_mark_returned %}
                  <li><a href="{% url 'admin:index' %}">Admin module</a></li>
                {% endif %}
              </ul>
            {% endif %}
          {% endblock %}

        <!-- div.col -->
        </div>

        <div class="col-sm-10 ">

          {% block content %}{% endblock %}

          {% block pagination %}
            {% if is_paginated %}
              <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                      <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                  <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                  {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
                </span>
              </div>
            {% endif %}
          {% endblock %}

        <!-- div.col -->
        </div>

      <!-- div.row -->
      </div>

    <!-- div.container -->
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>