{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
     {% block title %}SMART Tracker{% endblock title %}
    </title>

    <!-- favicon file -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <!-- jQuery with ajax -->
    <script src="{% static 'assets/js/jquery-3.6.3.js' %}"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- Custom styles -->
    <link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet">

    {% block extra_css %}
    {% endblock extra_css%}

    {% block extra_js %}
    {% endblock extra_js%}

</head>

<body>

    <!-- django (flash) messages  -->
    {% if messages %}
    <div class="row">
      <div class="col-sm-12">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}
              {{ message.tags|title }}{% endif %}!</strong> {{ message }}
          </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Navbar -->
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="{% url 'index' %}">Smart tracker</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
      {% if user.is_authenticated %}
            <div class="navbar-nav">
                <div class="nav-item text-nowrap">
                    <a class="nav-link px-3" href="{% url 'profile' %}">
                        Logged as: {{ user.get_username }}
                    </a>
                </div>
            </div>
            <div class="navbar-nav">
                <div class="nav-item text-nowrap">
                    <a class="nav-link px-3" href="{% url 'logout' %}?next={{ request.path }}">
                        <span data-feather="log-out" class="align-text-bottom"></span>
                        Logout
                    </a>
                </div>
            </div>
      {% else %}
            <div class="navbar-nav">
                <div class="nav-item text-nowrap">
                    <a class="nav-link px-3" href="{% url 'login' %}?next={{ request.path }}">
                        Login
                    </a>
                </div>
            </div>
            <div class="navbar-nav">
                <div class="nav-item text-nowrap">
                    <a class="nav-link px-3" href="{% url 'register' %}?next={{ request.path }}">
                        Register
                    </a>
                </div>
            </div>
      {% endif %}
    </header>

    <!-- Sidebar -->
    {% block sidebar %}
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
      {% if user.is_authenticated %}
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'index' %}">
              <span data-feather="home" class="align-text-bottom"></span>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'coreobject-list' %}">
              <span data-feather="pie-chart" class="align-text-bottom"></span>
              Dashboard
            </a>
          </li>
        </ul>
      {% endif %}
      {% if user.is_staff %}
        <ul class="nav flex-column mb-2">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>Staff tools</span>
            </h6>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'admin:index' %}">
                      <span data-feather="tool" class="align-text-bottom"></span>
                      Admin module
                  </a>
              </li>
          </ul>
      {% endif %}
      </div>
    </nav>
    {% endblock sidebar %}

    <!-- Page container open tag-->
    <div class="container-fluid text-start">

      <!-- Row 1 -->
      <div class="row">

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <!-- Empty block for content of templates extended from base_generic -->
      {% block content %}
      {% endblock content %}

        <!-- Paginator -->
        {% block pagination %}
        {% if page_obj %}
        <nav aria-label="Page navigation example">
          <ul class="pagination">
              {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a></li>
              <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
              {% else %}
              <li class="page-item disabled"> <a class="page-link">Previous</a> </li>
              {% endif %}
              <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.page_number }}">{{ page_obj.number }}</a></li>
              {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
              <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a></li>
              {% else %}
              <li class="page-item disabled"> <a class="page-link">Next</a> </li>
              {% endif %}
          </ul>
        </nav>
        {% endif %}
        {% endblock pagination %}

      </main>

      <!-- Row 1 closed -->
      </div>

    <!-- Page container closed -->
    </div>

    <!-- required JavaScript files -->
    <script src="{% static 'assets/js/jquery-3.6.3.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/Chart.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>

</body>
</html>