{% extends "base_generic.html" %}

{% load static %}

{% block extra_js %}
  <script src="{% static 'assets/js/coreobjects.js' %}"></script>
{% endblock %}

{% block content %}

    <br>

    {% if user %}
        <h2> HELLO {{ user }} </h2>
    {% else %}
        <h2> HELLO STRANGER </h2>
    {% endif %}

    <br>

    <!-- Dashboard -->
     <table class="table table-bordered" style="width:40%" id="dashboard-table">

          <thead>
            <tr class="table-info">
              <th scope="col">Dashboard</th>
              <th scope="col">Filters</th>
            </tr>
          </thead>

          <tbody>
            <tr class="primary">
                <th scope="col">
                    <!-- Pie Chart -->
                    <div id="piechart_3d" style="width:400px; height:200px;"></div>
                </th>
                <th scope="col">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioSupplies" id="flexRadioSupplies" checked>
                      <label class="form-check-label" for="flexRadioSupplies">
                        SUPPLIES
                      </label>
                    </div>
                </th>
            </tr>
          </tbody>
        </table>

        <br>

    <p>
    <button type="button" class="btn btn-primary js-create-coreobject" data-url="{% url 'coreobject-add' %}">
      <span data-feather="plus-square" class="align-text-bottom"></span>
      New object
    </button>
    </p>


    <table class="table w-75" id="coreobject-table">
    <thead>
    <tr class="table-active align-top">
      <th scope="col" class="col-1">Status</th>
      <th scope="col" class="col-1">Name</th>
      <th scope="col" class="col-1">Dataset</th>
      <th scope="col" class="col-1">Measure</th>
      <th scope="col" class="col-2">Description</th>
      <th scope="col" class="col-1">Responsible</th>
      <th scope="col" class="col-1">Lifelong period</th>
      <th scope="col" class="col-2">Actions</th>
    </tr>
    </thead>
    <tbody>
      {% include 'includes/partial_coreobject_list.html' %}
    </tbody>
    </table>



    <div class="modal fade" id="modal-coreobject">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

{% endblock %}