{% extends "base_generic.html" %}

{% block content %}

    <br>

    {% if user %}
        <h2> HELLO {{ user }} </h2>
    {% else %}
        <h2> HELLO STRANGER </h2>
    {% endif %}

    <br>

    {% if object_list %}

        <table class="table table-bordered" style="width:40%">

          <thead>
            <tr class="table-info">
              <th scope="col">Dashboard</th>
              <th scope="col">Filters</th>
            </tr>
          </thead>

          <tbody>
            <tr class="primary">
                <th scope="col">
                    <!-- Pie Chart -->
                    <div id="piechart_3d" style="width:400px; height:200px;"></div>
                </th>
                <th scope="col">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioSupplies" id="flexRadioSupplies" checked>
                      <label class="form-check-label" for="flexRadioSupplies">
                        SUPPLIES
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioUtilities" id="flexRadioUtilities">
                      <label class="form-check-label" for="flexRadioUtilities">
                        UTILITIES
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioRoutine" id="flexRadioRoutine">
                      <label class="form-check-label" for="flexRadioRoutine">
                        ROUTINE
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioOther" id="flexRadioOther">
                      <label class="form-check-label" for="flexRadioOther">
                        OTHER
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioAll" id="flexRadioAll">
                      <label class="form-check-label" for="flexRadioAll">
                        ALL
                      </label>
                    </div>
                </th>
            </tr>
          </tbody>
        </table>

        <br>

         <table class="table table-bordered table-sm table-responsive w-75">
          <thead>
            <tr class="table-active">
              <th scope="col">Status</th>
              <th scope="col">Name</th>
              <th scope="col">Dataset</th>
              <th scope="col">Measure</th>
              <th scope="col">Description</th>
              <th scope="col">Responsible</th>
              <th scope="col">Lifelong period</th>
            </tr>
          </thead>
          <tbody>
            {% for coreobject in object_list %}
                <tr class="table-success">
                    {% if coreobject.status == 'G'  %}
                        <td class="bg-success">
                            {{ coreobject.status }}
                        </td>
                    {% elif coreobject.status == 'O'  %}
                        <td class="bg-warning">
                            {{ coreobject.status }}
                        </td>
                    {%  else %}
                        <td class="bg-danger">
                            {{ coreobject.status }}
                        </td>
                    {% endif %}
                    <td>
                        <a href = {% url 'coreobject-detail' coreobject.pk %}>{{ coreobject.name }}</a>
                    </td>
                    <td>
                        {{ coreobject.obj_type }}
                    </td>
                    <td>
                        {{ coreobject.measure }}
                    </td>
                    <td>
                        {{ coreobject.description }}
                    </td>
                    <td>
                        {{ coreobject.responsible }}
                    </td>
                    <td>
                        {{ coreobject.lifelong_period }}
                    </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>


    {% endif %}

    <br>

    <a href = {% url 'coreobject-add' %}>Add new object</a>

    <br>

    <!-- Paginator -->
    {% block pagination %}
    {% if is_paginated %}
      <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
              <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
          <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
          {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
          {% endif %}
        </span>
      </div>
    {% endif %}
    {% endblock %}

{% endblock %}